extends ../layout/common
block content
    .row.row-cols-1.row-cols-md-3
        if products
            each product in products 
                .col.mb-4
                    .card
                    img.card-img-top(src=product.image, alt='...')
                    .card-body.bg-light(style="height:250px")
                        h5.card-title= product.product_name
                        p.card-text= product.description
                        <a href=#{"/cart/add/" + product.id} class="btn btn-primary">Add to card</a>

    nav.float-right(aria-label='...')
        ul.pagination
            li.page-item
                a.page-link(href="/products?page="+paging[0], tabindex='-1') Previous
            li.page-item
                a.page-link(href="/products?page="+paging[0])= paging[0]
            li.page-item.active
                a.page-link(href="/products?page="+paging[1])= paging[1]
                    span.sr-only (current)
            li.page-item
                a.page-link(href="/products?page="+paging[2])= paging[2]
            li.page-item
                a.page-link(href="/products?page="+paging[2]) Next

                        
            